.body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  height: 80vh;
  width: 60vh;
  background-color: whitesmoke;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container_items {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 8vh 42vh 10vh 10vh;
}

.tip_head {
  background-color: rgba(0, 128, 128, 0.886);
  text-align: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
p {
  padding-left: 25px;
  font-size: 18px;
}

input[type="text"] {
  font-size: 15px;
  padding: 5px;
  margin-left: 25px;
}
select {
  font-size: 15px;
  margin-left: 25px;
  padding: 10px;
}
span {
  font-size: 18px;
}
.btn {
  text-align: center;
  margin: 2vh 0;
}
.btn > button {
  padding: 8px 30px;
  font-size: 18px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.btn > button:hover {
  background-color: #de0000;
  transition: 0.3s ease-in-out;
}
.screen {
  text-align: center;
}
.screen sup {
  font-size: 20px;
}
.screen span {
  font-size: 35px;
}
.screen small {
  font-size: 20px;
}
